:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warn-black-1: #282623;
    --Grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffffff;
    /* Font */
    --primary-font: 'DM Sans', sans-serif;
    --second-font: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    /* Linear BG */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

header .content-header {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 25px;
    text-align: center;
    align-self: center;
}

header .content-header h1 {
    font-size: 2.5rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 26px;
}

header .content-header p {
    padding-top: 16px;
    font-size: 1.4rem;
    color: var(--just-white);
}

header .content-header .button-content {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    font-size: 1.4rem;
    font-family: var(--primary-font);
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

header .content-header .button-content span {
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url('../Assets/Icons/flecha-abajo.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);    
}

main .main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 59px;
    padding-bottom: 30px;
    text-align: center;
}

main .main-exchange-container h2 {
    font-size: 2.4rem;
    margin-top: 40px;
    color: var(--warm-black);
    line-height: 2.6rem;
    font-weight: bold;

}

main .main-exchange-container p {
    font-size: 1.4rem;
    padding-top: 24px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}
main .main-exchange-container--title {
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
}

main .main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url("/Assets/Imagenes/bitcoin-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------ */

main .main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 330px;
    margin: 0 auto;
    font-family: var(--second-font);
}

main .main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

main .currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

main .currency-table--container table {
    width: 100%;
    height: 100%;
}

main .currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--Grey);
    background-color: var(--just-white);
}

main .currency-table--container .table__top-left {
    border-top-left-radius: 8px 8px;
}

main .currency-table--container .table__top-right {
    border-top-right-radius: 8px 8px;
}

main .currency-table--container .table__bottom-left {
    border-bottom-left-radius: 8px 8px;
}

main .currency-table--container .table__bottom-right {
    border-bottom-right-radius: 8px 8px;
}

main .currency-table--container .table__right {
    color: #757575;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
}

main .currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("/Assets/Icons/bajada.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .currency-table--container .rise {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("/Assets/Icons/subida.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .main-tables-container .currency-table-date {
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    margin-top: 15px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 8px;
}


main .main-tables-container .currency-table-date p {
    font-size: 1.2rem;
    padding: 0;
    line-height: 1.6rem;
}

/* Segunda tabla */

main .main-commissions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 330px;
    margin: 0 auto;
    font-family: var(--second-font);
}

main .main-commissions-table .commissions-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

main .commissions-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

main .commissions-table--container table {
    width: 100%;
    height: 100%;
}

main .commissions-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--Grey);
    background-color: var(--just-white);
}

main .commissions-table--container .table__top-left {
    border-top-left-radius: 8px 8px;
}

main .commissions-table--container .table__top-right {
    border-top-right-radius: 8px 8px;
}

main .commissions-table--container .table__bottom-left {
    border-bottom-left-radius: 8px 8px;
}

main .commissions-table--container .table__bottom-right {
    border-bottom-right-radius: 8px 8px;
}

main .commissions-table--container .table__right {
    color: #757575;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
}

main .main-tables-container .commissions-table-date {
    width: 190px;
    height: 30px;
    background-color: var(--soft-blue);
    margin-top: 15px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 8px;
}


main .main-tables-container .commissions-table-date p {
    font-size: 1.2rem;
    padding: 0;
    line-height: 1.6rem;
}

/* prueba */

main .main-product-detail {
    width: 100%;
    height: 910px;
    background-color: var(--warm-black);
    color: var(--just-white);
    padding-top: 64px ;
} 

main div {
    text-align: center;
}

main div h2 {
    font-size: 2.4rem;
    padding-right: 17px;
    padding-left: 15px;
    margin-bottom: 24px;
}

main div p {
    font-size: 1.4rem;
    margin-bottom: 32px;
    color: #808080;
}

/* ----- */



