:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warn-black-1: #282623;
    --Grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffffff;
    /* Font */
    --primary-font: 'DM Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    /* Linear BG */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

header .content-header {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 25px;
    text-align: center;
    align-self: center;
}

header .content-header h1 {
    font-size: 2.5rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 26px;
}

header .content-header p {
    padding-top: 16px;
    font-size: 1.4rem;
    color: var(--just-white);
}

header .content-header .button-content {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    font-size: 1.4rem;
    font-family: var(--primary-font);
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

header .content-header .button-content span {
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url('../Assets/Icons/flecha-abajo.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);    
}

main .main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 59px;
    padding-bottom: 30px;
    text-align: center;
}

main .main-exchange-container h2 {
    font-size: 2.4rem;
    margin-top: 40px;
    color: var(--warm-black);
    line-height: 2.6rem;
    font-weight: bold;

}

main .main-exchange-container p {
    font-size: 1.4rem;
    padding-top: 24px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}
main .main-exchange-container--title {
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
}

main .main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url("/Assets/Imagenes/bitcoin-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .main-tables-container {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 48px;
}

main .main-tables-container li {
    background-color: var(--just-white);
    width: 101px;
    height: 39px;
    list-style: none;
    padding-top: 10px;
    margin: 1px;
    font-family: 'Inter', sans-serif;
}

main .main-tables-container .main-tables-container--coins {
    color:  rgba(181, 176, 172, 1);
    font-size: 1.6rem;
    text-align: left;
}

main .main-tables-container .main-tables-container--coins li {
    padding-left: 12px;  
}

main .main-tables-container .main-tables-container--value-coins {
    color: rgba(117, 117, 117, 1);
    font-size: 1.4rem;
    font-weight: 400;

}

main .main-tables-container--box {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
 
/* coloque id para hacerle las curvas a 4 elemento li en especifico 
(lo hice con id por que queria probarlo pero prodia haberlo hecho con clases)*/

#Bitcoin {
    border-top-left-radius: 8px 8px;
}

#Bitcoin-value {
    border-top-right-radius: 8px 8px;
}

#Stellar {
    border-bottom-left-radius: 8px 8px;
}

#Stellar-value {
    border-bottom-right-radius: 8px 8px;
}

/* ---------------------------------------- */

main .main-tables-container div > span {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
    margin-right: 98px;
}

main .main-exchange-container .main-tables-container--value-coins li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

main .main-exchange-container .main-tables-container--value-coins .Bitcoin-value span {
    background-image: url("/Assets/Icons/bajada.svg");
}

main .main-exchange-container .main-tables-container--value-coins .Ethereum-value span {
    background-image: url("/Assets/Icons/subida.svg");
}

main .main-exchange-container .main-tables-container--value-coins .Ripple-value span {
    background-image: url("/Assets/Icons/bajada.svg");
}

main .main-exchange-container .main-tables-container--value-coins .Stellar-value span {
    background-image: url("/Assets/Icons/bajada.svg");
}

/* ------------------------------------------*/

main .main-exchange-container .main-act {
    width: 173px;
    height: 31px;
    background-color: var(--soft-orange);
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
}

main .main-exchange-container .main-act .text {
    font-weight: 700;
    font-size: 1.6rem;
}

main .main-exchange-container .main-act .text {
    font-size: 1.2rem;
}